.navbar{
    background-color: #FF3399;
}

#cabecalho .nav .nav-link.active{
    background-color: #ffffff;
    color: #FF3399;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #ffffff;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.pacifico{
    font-family: "Pacifico", cursive;
}

.pacifico span{
    color: #0099CC;
}

.titulo{
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.navbar-toggler {
    background-color:  #ff48a3;
    margin-bottom: 8px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-item {
    height: 480px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

section#sobre,
section#cardapio{
    background-color: #fff3f9;
}

.colorido{
    color: #0099CC;
}

.nav-cardapio .nav-link.active,
#contato button{
    background-color:  #0099CC;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #0099CC;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel{
        max-height: 280px;
        height: 100%;
    }
    
    .carousel-item img{
        height: 280px;
    }
}
